/*
* Mój "Saper"
*/
.pw-sapper {
  display: inline-block;
  font-size: 14px;
}
.pw-sapper-settings {
  position: relative;
  .scheme-button {
    cursor: pointer;
    &:after {
      content: '';
      display: inline-block;
      white: 0;
      height: 0;
      border: 4px solid transparent;
      border-top-color: #88f;
    }
  }
  .select {
    position: absolute;
    background-color: #fff;
    top: 100%;
    height: 0;
    overflow: hidden;
    &.on {
      border: 1px solid #ccc;
      box-shadow: 0 3px 3px #bbb;
      border-top-width: 0;
      padding: 2px;
      height: auto;
    }
    li {
      > span {
        display: block;
        padding: 4px 5px;
        cursor: pointer;
        &:hover {
          background-color: #ddd;
        }
      }
    }
  }
}
.pw-sapper-content {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1em;
  }
  button {
    padding: 0;
    width: 1.3em;
    height: 1.3em;
    font-size: 1em;
    line-height: 1.2em;
    &.mine {
      //box-shadow: 0 0 2px rgba(255,0,0,0.7) inset;
      background-color: #ddd;
    }
    &.fa-flag {
      color: #f00;
    }
    &:focus {
      outline: none;
    }
  }
}
