/*
* Mój "Saper"
*/
.pw-sapper {
  display: inline-block;
  font-size: 14px;
  h1 {
    font-size: 2em;
  }
}
.pw-sapper-settings {
  position: relative;
  display: inline-block;
  width: 162px;
  .scheme-button {
    cursor: pointer;
    &:after {
      content: '';
      display: inline-block;
      white: 0;
      height: 0;
      border: 4px solid transparent;
      border-top-color: #88f;
    }
  }
  .select {
    position: absolute;
    background-color: #fff;
    top: 100%;
    height: 0;
    overflow: hidden;
    z-index: 10;
    text-align: left;
    &.on {
      border: 1px solid #ccc;
      box-shadow: 0 3px 3px #bbb;
      border-top-width: 0;
      padding: 2px;
      height: auto;
    }
    li {
      > span {
        display: block;
        padding: 4px 5px;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
          background-color: #ddd;
        }
      }
    }
  }
}
.pw-sapper-content {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  ul {
    list-style: none;
    padding: 0;
    margin: 2px 2px 3px 3px;
    line-height: 8px;
  }
  button {
    padding: 0;
    margin: 0 1px 1px 0;
    width: 1.3em;
    height: 1.3em;
    color: #000;
    font-size: 1em;
    line-height: 1.2em;
    &.mine {
      background-color: #ddd;
    }
    &.fa-flag {
      color: #f00;
    }
    &:focus {
      outline: none;
    }
    span {
      position: absolute;
      display: block;
      top: 0;
      width: 100%;
      height: 100%;
      line-height: 1.1em;
      font-size: 0.9em;
    }
  }
  .glyphicon {
    &:before {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      line-height: 1.2em;
    }
  }
  .glyphicon-flag {
    color: #f00;
  }
  .question:before {
    content: '?';
    color: #00F;
    font-weight: 900;
    font-size: 18px;
    line-height: 8px;
  }
  .game-over {
    position: absolute;
    display: none;
    background-color: rgba(255,255,255,0.45);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    span {
      position: absolute;
      display: none;
      top: 50%;
      margin-top: -15px;
      width: 100%;
      color: #b00;
      font-size: 20px;
      font-weight: 600;
      text-shadow: 0 1px 2px #fff, 0 1px 5px #fff;
      text-align: center;
      &.succes {
        color: #00b;
      }
      &.on {
        display: block;
      }
    }
    &.on {
      display: block;
    }
  }
}
.pw-sapper-footer {
  line-height: 1.9em;
  .badge {
    margin-right: 5px;
  }
}
